.titleConnection {
    text-align: center;
    margin: 0.7em;
    color: rgb(36, 35, 35);
}

.subTitleConnection {
    text-align: left;
    margin: 0.7em;
}

.subSubTitleConnection {
    text-align: left;
    margin: 0.9em;
}

.backHome {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 100%;
    /* outline: none; */
    font-size: 1.3em;
    background-color: rgba(189, 61, 82, .8);
    color: rgb(240, 240, 240);
}

.paragrphContract {
    text-align: justify;
    margin: 0.7em;
    color: rgb(87, 84, 84);
}

ol.listContrat {
    list-style-type: upper-roman;
    text-align: justify;
    margin-left: 3em;
    margin-right: 3em;

    color: rgb(87, 84, 84);
}

ul.listContrat {
    text-align: justify;
    margin-left: 3em;
    margin-right: 3em;
    color: rgb(87, 84, 84);
}